* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#note {
  overflow-y: auto;
  border: 1px solid #ccc;
  padding: 1rem;
  background-color: transparent;
}

div {
  margin: 0;
  padding: 0;
}

textarea {
  resize: none;
  margin: 0;
  padding: 0;
  background-color: transparent;
  outline: none;
}

textarea:active {
  outline: none;
}

#btnContainer {
  display: flex;
  justify-content: flex-end;
  margin: 0.5rem 1rem 0.5rem 0;
}

button {
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-right: 10px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 1px 5px 0 rgba(0, 0, 0, 0.5);
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

button#clearBtn {
  background-color: #f44336; /* Red */
}

button:active {
  box-shadow: 0px 1px 5px 0 rgba(0, 0, 0, 0.5);
  transform: translateY(2px);
}

button:focus {
  outline: none;
}

button:hover {
  box-shadow: 0px 1px 5px 0 rgba(0, 0, 0, 0.5);
}
span.saved,
span.cleared {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #4caf50;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  z-index: 1;
}

.verify {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
}
